<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Ejs</title>
</head>
<body>

    <h1>This is the home page of EJS</h1>

    <h3> <%= 1+2 %> </h3> <p>using ejs tags -> Output is in String</p>
    <h3> 1+ 2 </h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eius, libero perspiciatis illum debitis doloribus quisquam iste veniam voluptate. Asperiores id consequuntur neque dolorem recusandae qui enim unde iste repellendus veniam voluptatem beatae, et magnam? Quibusdam nisi dolores, in autem doloremque voluptatum rem at libero delectus qui nobis molestiae dolore, cupiditate consequatur temporibus consectetur alias nihil itaque. Consequatur, non! Sunt ea aliquam iure doloribus possimus? Repellendus laudantium voluptas, deserunt sapiente earum voluptate, consectetur eius totam harum accusamus, ratione officiis? Quae ex excepturi culpa sunt adipisci aperiam ea et, dolores magni exercitationem error commodi odit ipsam voluptates fugiat maiores nemo recusandae?</p>

    <button>Click Here</button>
</body>
</html>