<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolling Dice</title>
</head>
<body>

    <h2>Roll Dice : <%= val %> </h2>
    
    <!-- Conditional Statements -->
    <% 
    if(val==6) { %>   
        <h2>Nice! Roll a dice again.</h2>
        <% } 
    %>

</body>
</html>

<!-- if (val==6) {
    <h2>Nice! Roll a dice again.</h2>
} -->